laravel/bunbougu/config
laravel/bunbougu/node_modules
laravel/bunbougu/storage
laravel/bunbougu/vendor
laravel/bunbougu/.*
laravel/bunbougu/*.log
laravel/bunbougu/*.sqlite
laravel/bunbougu/*.json

laravel/livewire6/config
laravel/livewire6/node_modules
laravel/livewire6/storage
laravel/livewire6/vendor
laravel/livewire6/.*
laravel/livewire6/*.log
laravel/livewire6/*.sqlite
laravel/livewire6/*.json

laravel/lara10/config
laravel/lara10/node_modules
laravel/lara10/storage
laravel/lara10/vendor
laravel/lara10/.*
laravel/lara10/*.log
laravel/lara10/*.sqlite
laravel/lara10/*.json
